SITE_URL="http://localhost:3000" # The URL where your Tisane instance will be accessible. This is used for generating links in emails and other communications.
S3_ENDPOINT="http://minio:9000" # The endpoint for your S3-compatible storage. If you're using MinIO, this would be the URL where MinIO is running.
S3_PUBLIC_ENDPOINT="http://s3.localhost:3000" # The public endpoint for your S3 storage. This is the URL that will be used in links to media files. If you're using MinIO, this would be the URL where MinIO is accessible from the outside (e.g., through a reverse proxy).

EMAIL_FROM="Tisane <onboarding@domain.com>" # The email address that will be used as the sender for emails sent by Tisane. Make sure to replace domain.com with your actual domain.
DATABASE_URL="postgresql://tisane:postgres_password@localhost:5432/tisane"

BETTER_AUTH_SECRET=""

MINIO_ROOT_PASSWORD=""
MINIO_ROOT_USER="tisane"

POSTGRES_DB="tisane"
POSTGRES_PASSWORD="postgres_password"
POSTGRES_USER="tisane"

S3_ACCESS_KEY="tisane"
S3_BUCKET="media"
S3_REGION="us-east-1"
S3_SECRET_KEY="" # Secret key for your S3 storage. If you're using MinIO, this is the same as the MINIO_ROOT_PASSWORD.

RESEND_API_KEY="" # API key for Resend, the email delivery service used by Tisane.

WATCHTOWER_HTTP_API_TOKEN="" # API token for Watchtower, used for monitoring and managing your Tisane instance. Make sure to generate a secure token and keep it secret.